div.timeline-content li {
    padding-bottom: .5em;
    color: #999fb3;
}

.main-timeline:before {
    height: 90%;
}

.single-about-img img {
    width: 100%;
    height: auto;
}

.single-about-img:before {
    width: 100%;
}

.row#links {
    padding-bottom: 20px;
}

.links div {
    text-align: center;
}

.links h3 {
    padding-top: 2.5em;
    padding-bottom: 1em;
}

.links div.team-position {
    padding-top: .5em;
    padding-bottom: 2.5em;
}

.team-item {
    border: 1px solid #ABA0FF;
}

.about-list-icon {
    height: 60px;
    background: #ABA0FF;
    position: static;
    width: 100%;
}

/* .welcome-hero#welcome-hero-resume {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: url(../images/clouds.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 890px;
} */

/* spinny element */
svg {
    position: relative;
    top: 50%;
    /* left: 50%; */
    margin-top: 20px;
    margin-left: -15px;

    float: left;

    animation: rotate 1s linear infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);

    /* animation-iteration-count: 1; */
    animation-fill-mode: both;
    
    transform-origin: center;
    transform-box: fill-box;

}

@keyframes rotate {
    to {
        transform: rotate(360deg);
        
    }
}
/*
body {
    min-height: 500vh;
}*/

@media (min-width: 768px) {

    .navbar>.container .navbar-brand,
    .navbar>.container-fluid .navbar-brand {
        margin-left: 5px;
        
    }
}

.spinny {
    position: relative;
    top: 50%;
    /* left: 50%; */
    margin-top: 20px;
    margin-left: -25px;

    float: left;

    animation: rotate 1s linear infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);

    /* animation-iteration-count: 1; */
    animation-fill-mode: both;
    
    transform-origin: center;
    transform-box: fill-box;

    width: 40px;
    height: 40px;

}

nav.navbar.bootsnav.navbar-fixed {
    position: relative;
}

.navbar-header h4 {
    font-size: 22px;
    font-weight: 600;
    color: #ABA0FF;
    text-transform: uppercase;
    -webkit-transition: 0.3s linear;
    -moz-transition: 0.3s linear;
    -ms-transition: 0.3s linear;
    -o-transition: 0.3s linear;
    transition: 0.3s linear;
}

.navbar-nav {
    margin-right: -60px;
}

/* fix margins on the star in header on small screens */
@media screen and (max-width:767px){
	.spinny {margin-left: 0;}
}/*max-width:767px*/

.alternatebg {
    background: #f9fbfd;
}

/* .img-responsive {
    background: #ABA0FF;
} */

.center-me {
    align-items: center;
    text-align: center;
}

/*.team-list-icon */
.team-list-icon ul {
    display: flex;
}
.team-list-icon  ul li a {
    padding-right: 22px;
    cursor:pointer;
    /* color: #fff; */
}
.team-list-icon ul li a {
    cursor: pointer;
    /* color: #fff; */
    display: inline-block;
    border: 2px solid;
    margin-left: 20px;
    border-radius: 8px;
    width: 30px;
    height: 30px;
    line-height: 28px;
    text-align: center;
}
.team-list-icon ul li a i {
    margin-left: 6px;
}

.padding-bottom-30 {
    padding-bottom: 30px;
}

.single-about-wrapper {
    box-shadow: 0 5px 20px rgb(14 25 80 / 30%);
}

.single-about-relative {
    position: relative;
}

.about-btn {
    width: 200px;
    height: 60px;
    line-height: 60px;
    border-radius: 3px;
    text-transform: capitalize;
    color: #fff;
    background: #ABA0FF;
    border: 1px solid #ABA0FF;
    box-shadow: 0 5px 20px rgb(0 0 0 / 20%);
    -webkit-transition: 0.3s linear;
    -moz-transition: 0.3s linear;
    -ms-transition: 0.3s linear;
    -o-transition: 0.3s linear;
    transition: 0.3s linear;
    text-align: center;
}

.isotope-overlay {
    text-align: center;
    color: #fff;
}

/*.svg {
    background-image: Url("../../assets/images/symplr_logov2.svg");
    background-size: contain;
}*/

.clean-input {
    appearance: auto;
    user-select: none;
    white-space: pre;
    align-items: flex-start;
    text-align: center;
    cursor: default;
    box-sizing: border-box;
    background-color: transparent;
    color: white;
    padding: 1px 6px;
    border-width: 0px;
    border-style: outset;
    /*border-color: ;*/
    border-image: none;
}

.footer-copyright p {
    margin-top: 0;
}

.footer-button {
    width: 130px;
    height: 45px;
    line-height: 45px;
    border-radius: 3px;
    text-transform: capitalize;
    color: #fff;
    background: #ABA0FF;
    border: 1px solid #ABA0FF;
    box-shadow: 0 5px 20px rgb(0 0 0 / 20%);
    -webkit-transition: 0.3s linear;
    -moz-transition: 0.3s linear;
    -ms-transition: 0.3s linear;
    -o-transition: 0.3s linear;
    transition: 0.3s linear;
    text-align: center;
}

.portfolio-shadow {
    box-shadow: 0 5px 20px rgb(14 25 80 / 30%);
}

